@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");

.App {
  text-align: center;
  background-color: red;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
}
.App h1 {
  font-family: "Poller One", sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  padding: 20px;
}

.pokémon-list {
  display: grid;
  grid-template-columns: auto auto auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  width: flex;
  gap: 10px;
}

.card {
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  transition: background 0.3s;
  text-align: center;
  font-size: 1.2em;
}

.card:hover {
  background-color: yellow;
  color: black;
}

.selected-card {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 10px;
}

.card-detail {
  align-self: center;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  border: 2px gold;
}

.card-detail h2 {
  text-transform: capitalize;
  color: gold;
}

button {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
  transition: background 0.3s;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
